.home {
    background-image: url('../../assets/images/backgroung.png');
    background-position: center;
    min-height: 100vh;
    padding: 30px 120px;
    background-size: cover;
}
.select-card{
    display:flex;
    gap: 10px;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;

}
h2 {
    text-align: center;
}

.role-card{
    
    cursor: pointer;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
   
}

.role-card:hover{
    transform: translate3d(0, -3px, 0);  
    transition: 0.2s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
    

.buttons1 {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.buttons1 button {
    border-radius: 50px;
    cursor: pointer;
    padding: 15px;
    justify-content: center;
}
.buttons1 button:hover {
     transform:translateY(-4px);
}
.tagline {
    
    text-align: center;
}
    