.page {
    background-image: url('../../assets/images/backgroung.png');
    background-position: center;
    min-height: 100vh;
    padding: 30px 120px;
    display: grid;
    background-size: cover;
    background-repeat: no-repeat;
    
}