
img {
    width: 150px;
    border-radius: 50%;
}
.header {
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    background-color: rgb(224, 169, 240);
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 2rem;
    gap: 15px;
    flex-wrap: wrap;
}
.buttons button {
     border-radius: 50px;
     cursor: pointer;
     padding: 7px;
     transition: 0.2s;
    
}
.buttons button:hover {
  transform: translate3d(0, -3px, 0);  
  transition: 0.2s ease;
}
button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}