.img {
    flex: 1;
    display: flex;
    align-items: center;
}
.img img {
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
}
.header {
    display: flex;   
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    gap: 50px;
    background-color: rgb(224, 169, 240);
}
.header h1 {
    flex: 2;
    text-align: center;
    margin: 0;
    font-weight: 800;
    text-shadow: 3px 6px 9px white;
    animation: slideIn 1.5s ease-out;
}
@keyframes slideIn {  /* Animation to header title */
    from { opacity: 0; transform: translateY(-20px);}
    to { opacity: 1; transform: translateY(0);}
}
.word1 { color: midnightblue; }
.word2 { color: rgb(37, 129, 51);}
.word3 { color: #cb2263;}
.word4 { color: #6e14bd;}
.word5 { color: rgb(48, 48, 201);}
.buttons {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    margin-right: 20px;
    flex-wrap: wrap;
}
.tech {background: linear-gradient(135deg, #2cc270, #38eaa0 );}
.par {background: linear-gradient(135deg, #dea441, #d8b081 );}
.stu {background: linear-gradient(135deg, #89cafc, #7c91c0 );}

.buttons button {
    border-radius: 50px;
    cursor: pointer;
    padding: 7px 14px;
    transition: 0.2s ease;   
}
.buttons button:hover {
  transform: translate3d(0, -3px, 0);  
  transition: 0.2s ease;
}
button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.hamburger {
    display: none;
    font-size: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
}
/*Media query for Tablets */
@media (max-width: 900px) {
    .header { padding: 1rem;}
    .header h1 { font-size: 1.8rem; text-align: center;}
    .img { width: 90px;}
    .buttons { gap: 10px; padding: 0;}
}

/*Media query for mobile */
@media (max-width: 480px) {
    .header {
        position: relative;
        padding: 1rem;
        flex-direction: column;
    }
    .img img { width: 65px;}
    .header h1 {
        font-size: 1.3rem;
        text-align: center;
        margin: 0;
    }
    .word5 { display: block; margin-top: 5px;}
    .hamburger { display: block;}
    .buttons { 
        display: none;
        position: absolute;
        top: 100%;
        right: 10px;
        width: 140px;
        flex-direction: column;
        gap: 10px;
        padding: 1rem;
        background: white;
        border-radius: 12px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        z-index: 1000;
    }
    .buttons button { width: 100%;}
    .buttons.open { display: flex;}
}