.assignment-list{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 300px;
}


.assignment-row{
    display: flex;
    justify-content: space-between;
    width: 380px;
    gap: 15px;
    align-items:center;
    padding: 10px;
   padding: 18px;
   border-radius: 12px;
   background: white;
}
.assignment-left{
    display: flex;
    align-items: center;
    gap: 12px;
}
.assignment-right{
    display: flex;
    align-items: center;
}
.check-btn{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.edit-btn{
 padding: 6px 14px;
 color: white;
  border-radius: 30px;
  font-size: 13px;
  margin: auto;
  font-weight: 600;
  background-color: rgb(84, 156, 84);
}
.delete-btn{
    color: white;
    background-color: rgb(237, 128, 128);
 padding: 6px 14px;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 600;
}